div.SANDWICHToken{
    width: 100%;
    background: #F4F5F6;
    padding: 127px 0px 246.82px 0px;
    h1{
        display:flex;
        justify-content: center;
        width: 100%;
        height: 53px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #23262F;
        margin-bottom: 83.19px;
    }
    
    div.flex{
        display: grid;
        grid: 263px / auto auto auto;
        justify-content: center;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        div.cardMap{
            width: 312px;
            height: 263px;
            padding-top: 10px;
            &:hover{
                cursor: pointer;
                background: #FCFCFD;
                box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04);
                border-radius: 20px;
            }
            div.item{
                display:flex;
                justify-content: center;
                width: 74.55px;
                height: 74px;
                background: #FFF5F5;
                border-radius: 50%;
                margin-left: 118.72px;
                margin-top: 30px;
                img{
                    width: 24.18px;
                    height: 24px;
                    margin-top: 24px;
                }
            }
            p{
                display:flex;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                text-align: center;
                color: #777E91;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 25px 0px 20px 0px ;
            }
            p.Participate{
                width: 230px; 
                margin: 25px 41px 51px 41px ;
            }
            p.Discounts{
                max-width: 194px;
                margin: 25px 59px 51px 59px ;
            }
            p.Key{
                max-width: 263.96px;
                margin: 25px 24.02px 51px 24.02px ;
            }
            p.Access{
                max-width: 279px;
                margin: 25px 16.5px 51px 16.5px ;
            }
            p.Staking{
                max-width: 262px;
                margin: 25px 25px 51px 25px ;
            }
            p.Benefit{
                max-width: 262px;
                margin: 25px 25px 51px 25px ;
            }
        }
        div.cardMap:focus{
            background-color: #FCFCFD;
            box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04);
            border-radius: 20px;
        }
    }
}

@media (max-width: 768px) {
    div.SANDWICHToken{
        div.flex{
            display: grid;
            grid: 263px / auto auto;

        }
    }
}

@media (max-width: 600px) {
    div.SANDWICHToken{
        div.flex{
            grid-row-gap: 20px;
            grid-column-gap: 0px;
        }
    }
}
@media (max-width: 480px) {
    div.SANDWICHToken{
        height: auto;
        div.flex{
            display: grid;
            grid: 263px / auto;

        }
    }
}