div.How_to_buy_SANDWICH{
    background: url(../../img/How_to_buy_SANDWICH.png);
    margin: -127px 50px ;
    position: relative;
    left: 0px;
    right: 0px;
    height: 254px;
    box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background: #FCFCFD;

    div.background_How_to_buy_SANDWICH{
        height: 254px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        grid-column-gap: 25px;
        box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        background: url(../../img/How_to_buy_SANDWICH.png);
        background-repeat: no-repeat;
        background-position: right;
        h1{
            grid-column: 1 / span 3;
            margin-top: 69px;
            width: 405px;
            height: 48px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            color: #23262F;
        }
        div.Sandwich_Network{
            display: flex;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
        div.PancakeSwap{
            display: flex;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
        div.background{
            width: 53.45px;
            height: 53px;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            img{
                width: 24px;
                height: 24px;
                margin: 15px;
            }
        }
        p{
            width: 218px;
            height: 31.97px;;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.01em;
            color: #23262F; 
            margin-left: 20.55px; 
            margin-top: 12px;          
        }
        button{
            width: 207px;
            height: 66.98px;
            background: #FF5757;
            border-radius: 90px;
            border: #FF5757;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 16px;
            text-align: center;
            color: #FCFCFD;
            margin-top: -50px;
            &:hover{
                background: #00fc15;
                color: #23262F;
            }
        }
    }
}
@media (min-width: 1025px) {
    div.How_to_buy_SANDWICH{
        margin: -127px 100px ;
        div.background_How_to_buy_SANDWICH{
            grid-column-gap: 150px;
        }
    }
}
@media (max-width: 1025px) {
    
}   

@media (max-width: 768px) {
    div.How_to_buy_SANDWICH{
        margin: -127px 0px ;
        height: 300px ;
        div.background_How_to_buy_SANDWICH{
            grid-template-columns: auto auto ;
            grid-column-gap: 0px;
            height: 300px ;
            h1{
                margin-left: 50px;
            }
            div.Sandwich_Network{
                margin-left: 50px;
            }
            
            button{
                grid-column: 1 / span 2;
                margin: 30px 50px;
            }
        }
    }
}

@media (max-width: 480px) {
    div.How_to_buy_SANDWICH{
        margin: 20px 0px ;
        height: 400px ;
        div.background_How_to_buy_SANDWICH{
            grid-template-columns: auto;
            grid-column-gap: 0px;
            height: 400px ;
            justify-content: center;
            h1{
                text-align: center;
                grid-column: 1 / span 3;
                margin: 20px 0px 70px 40px;
                width: 300px;
                height: 48px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
            }
            div.Sandwich_Network{
                grid-column: 1 / span 2;            
            }
            div.PancakeSwap{
                grid-column: 1 / span 2;
                margin-left: 50px;            
            }
            button{
                margin: 30px 100px;
                grid-column: 1 / span 2;
            }
        }
    }
}