div.header{
    width: 100%;
    height: 971px;
    div.menu{
        position: relative;
        height: 93px;
        width: 100%;
        border-radius: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
        div.Logo{
            background: url(../img/LOGO.png);
            height: 46px;
            max-width: 148px;
            width: 100%;
            left: 80px;
            top: 23px;
            border-radius: 0px;
            position: absolute;
            &:hover{
                cursor: pointer; 
            }
            div.menu_dropdown{
                position: absolute;;
                left: 200px;
                background: #35C4FF;
            }
            div.divider{
                position: absolute;
                max-width: 1px;
                width: 100%;
                height: 40px;
                left: 200px;
                background: #E6E8EC;
            }
        }
        button.ConnectWallet{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            position: absolute;
            max-width: 153px;
            width: 100%;
            height: 48px;
            right: 80px;
            top: 22px;
            background: #35C4FF;
            border-radius: 90px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 1px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FCFCFD;
            border: #35C4FF;
            &:hover{
                color:black;
                background-color: rgb(43, 255, 0);
                cursor: pointer;
            }
        }
        div.list_menu{
            color: #777E91;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            display: flex;
            justify-content: center;
            td{
                p{
                    margin: 40px 79px 0px 0px ;
                    padding: 0px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #777E91;
                    &:hover{
                        cursor: pointer;
                        color:#35ff3f;
                    }
                }
                span{
                    margin: 2px 79px 0px 0px ;
                    padding: 0px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    text-align: center;
                    color: #777E91;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    div.header_content{
        width: 100%;
        div.header_background_0{
            position: absolute;
            width: 100%;
            max-width: 497.25px;
            height: 497.25px;
            right: 122.69px;
            top: 226.75px;
            background: #D2DFFF;
            border-radius: 50%;
        }
        div.IMG{ 
            position: absolute;
            max-width: 616.25px;
            width: 100%;
            height: 616.25px;
            right:61.06px;
            top: 180px;
            background: url(../img/Header_image3.png);
        }
        div.header_background_1{
            background: url(../img/Header_Crypto_Compositions_1.png);
            position: absolute;
            max-width: 80px;
            width: 100%;
            height: 116px;
            left: 0px;
            top: 92px;        
        }
        div.header_background_2{
            background: url(../img/Header_Crypto_Compositions_2.png);
            position: absolute;
            max-width: 77px;
            width: 100%;
            height: 66px;
            left: 496px;
            top: 117px;
            opacity: 0.4;
            filter: blur(9px);
        }
        div.header_background_3{
            background: url(../img/Header_Crypto_Compositions_3.png);
            position: absolute;
            max-width: 64.41px;
            width: 100%;
            height: 55.25px;
            right: 675.59px;
            top: 180px;        
        }
        div.header_background_4{
            background: url(../img/Header_Crypto_Compositions_4.png);
            position: absolute;
            max-width: 156.06px;
            width: 100%;
            height: 133.88px;
            right: -12.12px;
            top: 389.31px;
        }
        div.header_background_5{
            background: url(../img/Header_Crypto_Compositions_5.png);
            position: absolute;
            max-width: 37px;
            width: 100%;
            height: 32px;
            left: 643px;
            top: 619px;
        }
        div.header_background_6{
            background: url(../img/Header_Crypto_Compositions_6.png);
            position: absolute;
            max-width: 74px;
            width: 100%;
            height: 64px;
            left: -43px;
            top: 732px;        
        }
        div.header_background_7{
            background: url(../img/Header_Crypto_Compositions_7.png);
            position: absolute;
            max-width: 101px;
            width: 100%;
            height: 259px;
            right: 0px;
            top: 635px;        
        }
        div.header_background_8{
            background: url(../img/Header_Crypto_Compositions_8.png);
            position: absolute;
            max-width: 86.7px;
            width: 100%;
            height: 74.38px;
            right: 619.3px;
            top: 457.31px;      
        }
        div.title{
            position:absolute;
            max-width: 613px;
            width: 100%;
            height: 163px;
            left: 120px;
            top: 285.5px;
            p{
                margin: 0px;
                padding: 0px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 82px;
                color: #23262F;
                flex: none;
                order: 0;
                flex-grow: 0;
                span{
                    color: #FF5757;
                }
            }
        }
        div.text{
            position: absolute;
            width: 523px;
            height: 93px;
            left: 120px;
            top: 479px;   
            font-family:'Times New Roman', Times, serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 31px;
            color: #777E91;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 0px 0px;
            
        }
        button.LaunchApp{
            justify-content: center;
            align-items: center;
            padding: 22px 35px;
            position: absolute;
            width: 164px;
            height: 60px;
            left: 120px;
            top: 619px;
            background: #FF5757;
            border-radius: 90px;
            border: #FFFFFF;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #FCFCFD;
            flex: none;
            order: 0;
            flex-grow: 0;
            &:hover{
                cursor: pointer;
                background: #35ff3f;
                color: #23262F;
            }
        }
        button.PitchDeck{
            position: absolute;
            width: 163px;
            height: 67px;
            left: 299px;
            top: 616px;
            background-color: #FFFFFF;
            border: 1px solid #FF5757;
            box-sizing: border-box;
            border-radius: 90px;
            color: #FF5757;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            &:hover{
                cursor: pointer;
                background: #35ff3f;
            }
        }
    }
}


@media (min-width: 1026px) {
    div.header{
        div.menu{
            div.menu_dropdown{
                display: none;
            }
        }
    }
}   
@media (max-width: 1025px) {
    div.header{
        div.menu{
            div.Logo{
                left: 40px;
                div.menu_dropdown{
                    display: none;
                }
                div.divider{
                    left: 170px;
                }
            }
            button.ConnectWallet{
                right: 40px;
            }
            div.list_menu{
                left: 170px;;
                font-size: 14px;
                line-height: 16px;
                td{
                    p{
                        margin: 40px 40px 0px 0px ;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    span{
                        margin: 2px 40px 0px 0px ;
                        font-size: 12px;
                    }
                }
            }
        }
        div.header_content{
            div.header_background_0{
                width: 372.94px;
                height: 372.94px;
                right: 100px;
            }
            div.IMG{
                background-size: 462.19px 462.19px;
                background-repeat: no-repeat;
                right: -100px;
                top: 190px;
            }
            div.header_background_8{
                display: none;
            }
            div.title{
                left: 40px;
            }
            div.text{
                left: 40px;
            }
            button.LaunchApp{
                left: 40px;
            }
            button.PitchDeck{
                left: 219px;
            }
        }

    }
}   

@media (max-width: 768px) {
    div.header{
        div.menu{
            div.Logo{
                height: 46px;
                width: 148px;
                left: 60px;
                div.divider{
                    display: none;
                }
                div.menu_dropdown{
                    display: inline;
                    position: absolute;
                    top: 5px;
                }
            }
            button.ConnectWallet{
                right: 60px;
            }
            div.list_menu{
                display: none;
            }
        }
        div.header_content{
            div.header_background_0{
                width: 372.94px;
                height: 372.94px;
                right: 200px;
                top:150px;   
            }
            div.IMG{
                background-size: 462.19px 462.19px;
                background-repeat: no-repeat;
                right: 0px;
                top: 120px;
            }
            
            div.title{
                left: 50px;
                top: 550px;
            }
            div.text{
                left: 50px;
                top: 720px;
            }
            button.LaunchApp{
                top: 850px;
                left: 50px;
            }
            button.PitchDeck{
                top: 850px;
                left: 250px;
            }
        }
    }
}

@media (max-width: 480px) {
    div.header{
        div.menu{
            div.Logo{
                left: 10px;
                div.menu_dropdown{
                    left: 110%
                }
                div.divider{
                    display: none;
                }
            }
            div.list_menu{
                display: none;
            }
            button.ConnectWallet{
                right: 10px;
                width: 20%;
            }
        }
        div.header_content{
            div.header_background_0{
                width: 372.94px;
                height: 372.94px;
                right: 200px;
                top:150px;   
            }
            div.IMG{
                display: none;
            }
            
            div.title{
                height: 50px;
                left: 30px;
                top: 150px;
                p{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            div.text{
                left: 30px;
                top: 320px;
                width: 90%;
            }
            button.LaunchApp{
                left: 30px;
                top: 500px;
                width: 170px;
                height: 67pxpx;
            }
            button.PitchDeck{
                left: 230px;
                top: 500px;
                width: 123px;
                height: 67pxpx;;
            }
        }
        
    }

    

}
