div.The_most_delicious_tools{
    width: 100%;
    align-items: center;
    background: #f4f6f4;
    div.h1_The_most_delicious_tools{
        display:flex;
        justify-content: center;
        h1{
            text-align: center;
            display:flex;
            justify-content: center;
            width: 100%;
            border-radius: nullpx;
            font-family: Poppins;
            font-size: 48px;
            font-weight: 600;
            line-height: 56px;
            letter-spacing: 0em;;
            color: #23262F;
            padding-top: 97.5px;  
            width: 625px;           
        }
    }
    div.text{
        display:flex;
        justify-content: center;
        p{
            display: flex;
            justify-content: center;
            border-radius: nullpx;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: center;
            color: #777E90;
            width: 587px;
        }
    }
    div.SandwichLaunch{
        background: url(../../img/The_most_delicious_tools_center_box_4.png);
        background-repeat: no-repeat ;
        background-position: right;
        width: 50%;
        height: 420px;
        box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
        border-radius: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        float:left;

    }
    div.SandwichSAFU{
        background: url(../../img/The_most_delicious_tools_center_box_3.png);
        background-repeat: no-repeat ;
        background-position: left;
        width: 50%;
        height: 420px;
        box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
        border-radius: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        float:left;
    }
    div.SandwichTools{
        background: url(../../img/The_most_delicious_tools_center_box_1.png);
        background-repeat: no-repeat ;
        background-position: right;
        width: 50%;
        height: 420px;
        box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
        border-radius: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        float:left;
    }
    div.SandwichSwap{
        background: url(../../img/The_most_delicious_tools_center_box_2.png);
        background-repeat: no-repeat ;
        background-position: left;
        width: 50%;
        height: 420px;
        box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
        border-radius: 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        justify-content: flex-end;
    }
    div.Launch_App{
        display: flex;
        justify-content: center;
        button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 22px 35px;
            width: 164px;
            height: 60px;       
            background: #FF5757;
            border-radius: 90px;
            flex: none;
            order: 2;
            flex-grow: 0;
            margin: 50px 0px;
            border: #FF5757;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #FCFCFD;
            margin-bottom: 97.5px ;
            &:hover{
                background: #00ec00;
            }
        }
    }
}

@media (min-width: 1026px) {
    
}   
@media (max-width: 1025px) {
    
}   

@media (max-width: 768px) {
    div.The_most_delicious_tools{
        div.SandwichLaunch{
            background-position: center;
            width: 100%;
        }
        div.SandwichSAFU{
            background-position: center;
            width: 100%;
        }
        div.SandwichTools{
            background-position: center;
            width: 100%;
        }
        div.SandwichSwap{
            background-position: center;
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
       
}